

<div>
    <h2>Handle Restuarant</h2>
    <div>
        <h3>Bord inställningar</h3>
        <a asp-controller="Admin" asp-action="HandleTable">Bord</a>
    </div>
    <div>
        <h3>Meny inställningar</h3>
        <a asp-controller="Admin" asp-action="HandleMenu">Meny</a>
    </div>
    <div>
        <h3>Bokningar inställningar</h3>
        <a asp-controller="Admin" asp-action="HandleBooknings">Booknigar </a>
    </div>
</div>
