@using RestaurantMVC.ViewModels

@model RestaurantMVC.ViewModels.ManageTableVM


<div>
    <h2>Handle Tables</h2>
    <div class="card bg-dark border-secondary mb-4 shadow-lg">
        <div class="card-header bg-primary text-light border-secondary">
            <h4 class="mb-0">
                <i class="fas fa-plus-circle me-2 text-success"></i>Create table
            </h4>
        </div>
        <div class="card-body bg-dark">
            @{
                ViewData["FormAction"] = "CreateTable";
            }
            <partial name="_TableForm" model="Model.NewTable" />
        </div>
    </div>
    <div>
        @foreach (var item in Model.Tables)
        {

            <div class="card bg-dark border-secondary mb-4 shadow-lg">
                <div class="card-header bg-gradient text-light border-secondary">
                    <h4 class="mb-0">
                        <i class="fas fa-edit me-2 text-warning"></i>Edit table: @item.TableNumber
                    </h4>
                </div>
                <div class="card-body bg-dark">
                    @{
                        ViewData["FormAction"] = "Edit";
                        var editModel = new TableVM
                        {
                            Id = item.Id,
                            Capacity = item.Capacity,
                            TableNumber = item.TableNumber

                        };
                    }
                    <partial name="_TableForm" model="editModel" />
                </div>
                <form asp-controller="Table" asp-action="DeleteTable" method="post" asp-route-id="@item.Id">
                    <button type="submit">Delete</button>
                </form>
            </div>
           
            <hr />
        }
    </div>
</div>
